body
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin: 0px;
    background-color: aqua;
}

#header
{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 50px;
}

#main
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    background-color: aqua;
}

.tools
{
    display: flex;
    flex: 1;
}

.squaresAmount
{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.squaresAmountText
{
    display: flex;
    flex-direction: column;
}

.squaresAmountText p 
{
    margin: 0;
}


#amount
{
    width: 200px;
    height: 20px;
}

.mesh
{
    width: 900px;
    display: flex;
    border: 5px solid black;
    height: 900px;
    flex-wrap: wrap;
}
