body, html
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.mesh
{
    display: flex;
    border: 5px solid black;
    height: 384px;
    width: 384px;
    flex-wrap: wrap;
}
